<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @entryPointStyles('app')
    @entryPointScripts('app')
    {{--  @entryPointScripts('flowbite.min.js')  --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/assets/flowbite.min.js"></script>
    <title>Lenny Bike Rental System</title>
</head>
