<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>

    @entryPointStyles('app')
    @entryPointScripts('app')
    {{--  @entryPointScripts('flowbite.min.js')  --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <title>Lenny Bike Rental System</title>
</head>
